<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Image Text Creator: Font List

  -->

  <head>
	<title>Image Text Creator: Font List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
	<style type="text/css">
	  .font-family { font-size: 1.1em; }
	  .font-style { color: #666; }
	</style>
  </head>
  <body>

	<h1>Image Text Creator: Font List</h1>

	<dl>
<?for name,font in fonts.sort_by {|k,v| [k, v[:family], v[:style]]} ?>
		<dt><a href="[?call txn.applet ?]/[?attr name ?]/72/72%20Pt.%20[?urlencode 
			font[:family] ?]%20[?urlencode font[:style] ?].png"><?attr name ?></a></dt>
		<dd><span class="font-family"><?call font[:family] ?></span>
			<span class="font-style"><?call font[:style] ?></span></dd>
<?end?>
	</dl>

	<p>The fonts this applet displays are only loaded once, but you can <a
	href="[?call txn.applet ?]/reload">force a reload</a>.</p>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

