<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Configuration Inspector

  -->

  <head>
	<title>Arrow Configuration Inspector</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
	<link rel="stylesheet" type="text/css" href="/css/arrow-config.css" />
  </head>
  <body>

	<h1>Arrow Configuration Inspector</h1>

	<h1><?call config.name ?></h1>

	<?render config as config in config/display-table.tmpl ?>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

