<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Tutorial

  -->

  <head>
	<title>Arrow Tutorial</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Arrow Tutorial</h1>

	<p>This will eventually be an interactive Arrow tutorial. It isn't much of
	anything at the moment, I'm afraid.</p>

	<h2>Tutorial Applets</h2>

	<ul>
	  <li>The 'hello' applet: <a href="[?call txn.appRoot ?]/hello">/hello</a></li>
	</ul>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

