<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Instiki Form Error

  -->

  <head>
	<title>Wiki Form Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Error/s</h1>

	<p>There were one or more errors in your submission. Please go back and
	correct the following:</p>

	<div id="form-errors">
	  <?if formerrors ?>
	  <ul class="error-list">
		<?foreach error in formerrors ?>
		<li><?attr error ?></li>
		<?end?>
	  </ul>
	  <?else?>
	  <!-- Calling applet did not set the 'formerrors' field. -->
	  <p>Unknown form error.</p>
	  <?end?>
	</div>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

