<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  [?call page.plain_name ?]

  -->

  <head>
	<title><?call page.plain_name ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1><?call page.plain_name ?></h1>

	<div id="revision">
	  <?call page.display_content ?>
	</div>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

