<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Tester Applet: Test Harness template

  -->

  <head>
	<title>Arrow Tester Applet: Test Harness for <?call app.name?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Test Harness for <?call app.name?></h1>

	<form action="[?call txn.action?]">
	  <table id="test-harness">
		<thead>
		  <tr>
			<th>Test Name</th>
			<th>Result</th>
			<th><button id="run-all">Run All</button></th>
		  </tr>
		</thead>
		<tbody>
		  <?for test in tests.sort_by {|t| [t.name]} ?>
		  <tr>
			<td><?call test.name ?></td>
			<?if results[test.name] ?>
			<td></td>
			<?end if?>
		  </tr>
		  <?end for?>
		</tbody>
	  </table>
	</form>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

