<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Default Arrow Applet Status Page

  -->

  <head>
	<title>Arrow Applet Status: <?call applet.signature.name ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Applet Status: <?call applet.signature.name ?></h1>

	<p><?call applet.signature.description ?></p>

	<p>It is currently assigned to the '/<?attr uri ?>' URI in
	  the demo application.</p>

	<?if uri =~ %r{/} ?><p>This could (possibly) be a chained
	  applet -- an applet which is delegated to by applets with URIs that are a prefix of
	  its own. If, for example, an applet is installed at <tt>/<?call
	  uri.sub(%r{(.*)/.*}) {|m| $1} ?></tt>, it would be run via its
	  <tt>#delegate</tt> method <em>before</em> this one, and could call this
	  applet by calling <tt>yield</tt>.</p><?end if?>
	  
	<table>
	  <tbody>
		<tr class="odd-row">
		  <th class="row-title">Maintainer</th>
		  <td><?call applet.signature.maintainer ?></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Version</th>
		  <td><?call applet.signature.version ?></td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">Default Action</th>
		  <td><?call applet.signature.defaultAction ?></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Validator Profiles</th>
		  <td><tt><?escape applet.signature.validatorProfiles.inspect ?></tt></td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">Source File</th>
		  <td><?call applet.class.sourcefile ?></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Actions</th>
		  <td>
			<ul>
<?yield name from applet.actions.each ?>
			  <li><a href="[?call txn.appRoot?]/[?call uri?]/[?call name?]"><?call name ?></a>
			  </li>
<?end for?>
			</ul>
		  </td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">Chainable?</th>
		  <td><strong><?if applet.respond_to?(:delegate) ?>Yes.<?else?>No.<?end if?></strong></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Templates</th>
		  <td>
			<ul>
<?yield name,path from applet.signature.templates.each ?>
			  <li><a href="[?call txn.appRoot?]/view-template/display/[?call
				  path?]"><?call path ?></a> (<strong><?call name.inspect
				  ?></strong>)</li>
<?end yield?>
			</ul>
		  </td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">Config</th>
		  <td>
<?if applet.signature.config.empty? ?>
			(Empty)
<?else?>
			<table class="kvlist">
			<tbody>
<?yield name,val from applet.signature.config.each ?>
			<tr><th><?attr name?></th><td><?escape val.inspect?></td></tr>
<?end yield?>
			</tbody>
			</table>
<?end if?>
		  </td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Timestamp</th>
		  <td><?call re.timestamp.ctime ?></td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">CPU Usage<br/>(this child)</th>
		  <td>

			<!-- CPU Usage Stats Table -->
			<table class="clear">
			  <tbody>
				<tr>
				  <th class="row-title">Total Runs</th>
				  <td><?call applet.runCount ?></td>
				</tr>
				<tr>
				  <th class="row-title">Total User</th>
				  <td><?call "%0.2f" % applet.totalUtime ?> s</td>
				</tr>
				<tr>
				  <th class="row-title">Total System</th>
				  <td><?call "%0.2f" % applet.totalStime ?> s</td>
				</tr>
				<tr>
				  <th class="row-title">Average Usage</th>
				  <td><?call "%0.3f" % applet.averageUsage ?></td>
				</tr>
			  </tbody>
			</table>

		  </td>
		</tr>
	  </tbody>
	</table>

	<?include navbar.incl ?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->
