<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Session Access Counter Template

  -->

  <head>
	<title>Session Deleted</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Arrow Session Deleted</h1>

	<p>The session you were using has been removed, and a new one will be
	  created the next time you access an app that requires a session.</p>

	<p>Return to <a href="[?call txn.action?]/display">the counter app</a>.</p>

	<?include navbar.incl?>
  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->
