<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Markdown/BlueCloth Dingus

  -->

  <head>
	<title>Markdown/BlueCloth Dingus</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Markdown/BlueCloth Dingus</h1>

	<p>This is a toy that lets you test the magical powers of the BlueCloth
	  module, which transforms Markdown text into HTML.</p>

	<h2>Markdown Input</h2>
	<form action="[?call txn.action?]" method="post">
	  <textarea id="source" name="source" rows="20"
		cols="80"><?attr source?></textarea><br/>
	  <input type="submit" id="display" name=" Display "/>&nbsp;
	</form>

	<?if output?>
	<h2>Output Source</h2>
	<form action="" method="post">
	  <textarea id="markdown-output" cols="80" rows="20"><?escape output?></textarea>
	</form>

	<h2>Rendered Output</h2>
	<div id="markdown-result" class="dotbox">
	  <?attr output?>
	</div>

	<?end if?>

	<p style="font-size: smaller;">Using BlueCloth <?call bcmod.const_get(:SvnRev) ?>.</p>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

