<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Login Form Template

  -->

  <head>
	<title>Login Form Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
  </head>
  <body>

	<h1>Login</h1>

	<?if errors?>
	<div id="errors">
	  <p>The following errors occurred while authenticating:</p>
	  <ul>
		<?yield msg from errors.each?>
		<li><?attr msg?></li>
		<?end yield?>
	  </ul>
	</div>
	<?end if?>
		
	<p>Please log in:</p>

	<form id="loginform" action="[?call txn.request.uri?]" method="post">
	  <fieldset>
		<table>
		  <tr>
			<th><label for="username-field">Username: </label></th>
			<td><input id="username-field" type="text" name="username" value="[?call
				txn.request.param('username')?]"/></td>
		  </tr>
		  
		  <tr>
			<th><label for="password-field">Password: </label></th>
			<td><input id="password-field" type="password" name="password"
				value=""/></td>
		  </tr>
		</table>
	  </fieldset>

	  <fieldset>
		<input type="submit" name="Log In" value="Log In"/>
	  </fieldset>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

