<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  No Such Applet

  -->

  <head>
	<title>No Such Applet</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>No Such Applet</h1>

	<p>No applet exists at the URI you entered.</p> 

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

