<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Demo App: Applet List Page

  -->

  <head>
	<title>Arrow Demo: Applet Status Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />

	<script type="text/javascript">
	  /* <![CDATA[ */
	  function statApplet( uri ) {
		window.location = '[?call transaction.appRoot ?]/status/applet/' + uri;
		return true;
	  }
	  /* ]]> */
	</script>
  </head>
  <body>

	<h1>Arrow Demo Application: Applet List</h1>

	<!-- Display the filename and path_info to try to figure out what a
	     consistent way of fetching the part of the URI after the Location to
	     which Arrow is bound. -->

	<p>Running from: <tt><?call transaction.request.filename?> (<?call
		transaction.request.path_info?>)</tt>.</p>

	<h2>Applets</h2>
	<table id="applets">
	  <caption><?call registry.length ?> Loaded Applets</caption>
	  <thead>
		<tr>
		  <th>URI</th>
		  <th>Name</th>
		  <th>Version</th>
		  <th>Class</th>
		  <th>&nbsp;</th>
		</tr>
	  </thead>
	  <tbody>
		<?for uri,re in registry.sort_by {|uri,a| uri} ?>
		<tr class="[?if iterator.even? ?]even-row[?else?]odd-row[?end if?]">
		  <td class="applet-uri">
			<a title="[?call re.object.signature.description?]"
			  href="[?call transaction.appRoot ?]/[?attr uri ?]"><?attr uri ?></a>
		  </td>
		  <td class="applet-name"><?call re.object.signature.name ?></td>
		  <td class="applet-version"><?call re.object.signature.version ?></td>
		  <td class="applet-source"><?escape re.object.class.name.gsub(/.*>::/,'') ?></td>
		  <td class="applet-run"><button onclick="statApplet('[?attr uri ?]')">Inspect</button></td>
		</tr>
		<?end for?>
	  </tbody>
	</table>

	<h2>Server Info</h2>
	<table id="server">
	  <tbody>
		<tr class="odd-row">
		  <th><?if transaction.request.server.virtual? ?>Virtualhost<?else?>Host<?end?></th>
		  <td><?call transaction.request.server.hostname ?></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">PID</th>
		  <td><?attr pid ?></td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">Parent PID</th>
		  <td><?attr ppid ?></td>
		</tr>

		<tr class="even-row">
		  <th class="row-title">Log Level</th>
		  <td><?call transaction.request.server.loglevel ?></td>
		</tr>

		<tr class="odd-row">
		  <th class="row-title">UID</th>
		  <td><?call transaction.request.server.uid ?></td>
		</tr>
	  </tbody>
	</table>

<?if transaction.server.hostname.match(/dev\.rubycrafters/i) ?>
	<div id="source-links">
	  <h2>Source</h2>

	  <p>The source code for the applets which are currently running are
		available for inspection from here until I get the status applet to do its
		own display:</p>

	  <ul>
		<li>Applets: &lt;<a
			href="http://dev.rubycrafters.com/applets/">http://dev.rubycrafters.com/applets/</a>&gt;</li>
	  </ul>

	  <p>The individual applet status pages now link to the template
		viewer. Clicking the 'Inspect' button for the applet in question will
		take you there.</p>

	  <p>You can also find more information about Arrow, including downloadable
		snapshots at the <a
		  href="http://www.RubyCrafters.com/projects/Arrow/">Arrow project
		  page</a>.</p>
	</div>
<?end if?>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->
