<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Template Viewer applet

  -->

  <head>
	<title>Template Viewer applet</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Template Viewer applet</h1>

	<p>This is an introspection applet designed to display Arrow
	  templates. It's used mostly from the <a href="[?call
	  txn.appRoot?]/status">status</a> applet, but you can also plug in a
	  template name to view without it being loaded by an applet:</p>

	<form action="[?call txn.action?]/display" method="get">
	  <fieldset>
		<label for="template-name-field">Template Name:</label>
		<input id="template-name-field" type="text" name="template" value=""/>
	  </fieldset>
	  <fieldset><input type="submit" name="View" value="View"/></fieldset>
	</form>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

