<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Arrow Template Viewer

  -->

  <head>
	<title>Arrow Template Viewer: '<?attr path?>'</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
  </head>
  <body>

	<h1>Arrow Template Viewer: '<?attr path?>'</h1>

	<p>This is an introspective view on the template objects used by Arrow.</p>

<?if template?>
	<h2>Attributes</h2>

	<p>This is a list of attributes of the template object which are settable by
	  the program which uses it.</p>

	<ul>
  <?yield name from template._attributes.keys.sort.each?>
	  <li><?attr name?></li>
  <?end yield?>
	</ul>

  <?if tokenizer?>
	<h2>XML Source</h2>

	<p>This is the source of the template file itself.</p>

	<div id="highlighted-source-section" class="highlighted-source">
    <?yield token from tokenizer.each?>
	  <?call token.to_html ?>
	<?end yield?>
	</div>
  <?else?>
	<!-- No tokenizer -->
  <?end if?>


	<h2>Node Tree</h2>

	<p>This is the abstract syntax tree which was parsed from the template's
	  source. Nodes are walked by the template object to define its attributes,
	  behaviours, and eventual output.</p>

	<div id="node-tree-section" class="node-tree">
  <?yield node from template._syntax_tree.each?>
	  <?call node.to_html?>
  <?end yield?>
	</div>
  
<?elsif error?>
	<p class="errmsg">An error occurred while loading the '<tt><?attr
		path?></tt>' template:</p>

	<h2><strong><?escape error.message?></strong></h2>
	<pre><?escape error.backtrace.join("\n") ?></pre>

<?else?>
	<p>Hmmm... neither an error object or a template object were given to this
	  template.</p>
<?end if?>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

