<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Image Text Generator

  -->

  <head>
	<title>Image Text Generator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
  </head>
  <body>

	<h1>Image Text Generator</h1>

	<div id="input-form">
	  <p>Input some text below to generate a image of it:</p>

	  <form action="[?call txn.action ?]" method="get">
		<fieldset id="text">
		  <legend>Image</legend>
		  <label for="imgtext">Image Text:</label>
		  <input id="imgtext" name="imgtext" type="text" size="50" maxlength="100"
				 value="[?call txn.params('imgtext') ?]" /><br/>

		  <label for="fontsize">Font Size (in points):</label>
		  <input id="fontsize" name="fontsize" type="text" size="3" maxlength="3"
				 value="[?call txn.params('fontsize') ?]" /><br/>

		  <select id="fontface" name="fontface">
<?for name,font in fonts.sort_by {|k,v| [k, v[:family], v[:style]]} ?>
<?if name == txn.vargs['fontface'] ?>
			<option id="[?attr name ?]" value="[?attr name ?]" selected="selected"><?call 
				font[:family] ?> <?call font[:style] ?></option>
<?else?>
			<option id="[?attr name ?]" value="[?attr name ?]"><?call
				font[:family]?> <?call font[:style] ?></option>
<?end?>
<?end?>
		  </select>
		</fieldset>
		<fieldset id="controls">
		  <legend></legend>
		  <input type="submit" value="Make It!" name="Make It!" />
		</fieldset>
	  </form>
	</div>

	<div id="output-image">
	  <h2>Output</h2>
	  <img src="[?call txn.action ?]/png/[?urlencode txn.vargs['imgtext'] ?]/[?call 
		   txn.vargs['fontface'] ?]/[?call txn.vargs['fontsize'] ?]"
		   alt="[?call txn.vargs['imgtext'] ?]" />
	</div>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

