<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Image Text Creator: Font Reload Failed

  -->

  <head>
	<title>Image Text Creator: Font Reload Failed</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/arrow.css" />
  </head>
  <body>

	<h1>Error</h1>

	<p>An error occurred while attempting to reload the fonts for this
	application. The previous copies were retained.</p>

	<h2>Error Information</h2>

	<p><?escape exception.message ?></p>

	<pre><?escape exception.backtrace.join("\n") ?></pre>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

