<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Image Text Creator: Fonts Reloaded

  -->

  <head>
	<title>Image Text Creator: Fonts Reloaded</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="/css/arrow.css" />
  </head>
  <body>

	<h1>Image Text Creator: Fonts Reloaded</h1>

	<p>Reload succeeded.</p>

	<?if newfonts.empty? ?>
	<?else?>
	<h2>New Fonts</h2>
	<dl>
<?for name,font in newfonts.sort_by {|k,v| [k, v[:family], v[:style]]} ?>
		<dt><a href="[?call txn.applet ?]/[?attr name ?]/72/72%20Pt.%20[?urlencode font[:family] ?].png"><?attr name ?></a></dt>
		<dd><?call font[:family] ?> <?call font[:style] ?></dd>
<?end?>
	</dl>
	<?end?>

	<?if removedfonts.empty? ?>
	<?else?>
	<h2>Removed Fonts</h2>
	<dl>
<?for name,font in newfonts.sort_by {|k,v| [k, v[:family], v[:style]]} ?>
		<dt><?attr name ?></dt>
		<dd><?call font[:family] ?> <?call font[:style] ?></dd>
<?end?>
	</dl>
	<?end?>

	<?include navbar.incl?>

  </body>
</html>


<!--
  Local Variables:
  mode: xml
 -->

