<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--

  Missing Applet

  -->

  <head>
	<title>Missing Applet</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
  </head>
  <body>

	<h1>Missing Applet</h1>

	<p>The applet you are requesting isn't loaded or doesn't exist. Sorry.</p>

  </body>
</html>


<!--
  Local Variables:
  mode: nxml
 -->

